/* Import Font Families */
/* ToDo: remove */
ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
}

a.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-hover {
  background: #3875d7;
  background: -moz-linear-gradient(top, #2a62bc 0%, #3875d7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a62bc), color-stop(100%, #3875d7));
  background: -webkit-linear-gradient(top, #2a62bc 0%, #3875d7 100%);
  background: -o-linear-gradient(top, #2a62bc 0%, #3875d7 100%);
  background: -ms-linear-gradient(top, #2a62bc 0%, #3875d7 100%);
  background: linear-gradient(to bottom, #2a62bc 0%, #3875d7 100%);
  color: #fff;
  padding: 0;
  margin: 0;
}

.autocomplete-deluxe-container {
  display: inline-block;
  position: relative;
  padding: 0;
  border: 1px solid #CCCCCC;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  background: url(../images/shadow.png) 0 -5px repeat-x white;
  padding: 4px 5px 4px 5px;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single {
  width: 90%;
  border: 1px solid #ccc;
  background: url(../images/shadow.png) 0 -5px repeat-x white;
}

.autocomplete-deluxe-search {
  margin: 0px 0px 4px 0px;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}

span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background: url("../images/cross2.png") 0 0 no-repeat;
  width: 18px;
  width: 18px;
  /* Prevent text selection. */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.autocomplete-deluxe-single-open {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.autocomplete-deluxe-multiple {
  display: inline-block;
  font-size: 13px;
  position: relative;
  border: 1px solid #ccc;
  background: url(../images/shadow.png) 0 -5px repeat-x white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 5px 4px 20px;
  cursor: text;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  line-height: 15pt;
  width: 503px;
  cursor: text;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  border: 1px solid #ccc;
  width: 25px;
  margin: 3px 0 0 5px;
  float: left;
  outline: none;
  box-shadow: none;
}

div.autocomplete-deluxe-throbber {
  width: 16px;
  float: right;
  height: 50%;
}

.autocomplete-deluxe-item {
  float: left;
  border: 1px solid #d2d2d2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px white;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px white;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px white;
  font: normal 500 14px/16px "Open Sans", Arial, sans-serif;
  margin-left: 1px;
  margin-top: 1px;
  padding: 7px 30px;
  text-decoration: none;
  background: #efefeb;
  color: #333333;
  cursor: default;
  line-height: 20px;
  margin: 3px 0 3px 5px;
  padding: 3px 24px 3px 5px;
  position: relative;
}
.autocomplete-deluxe-item:focus {
  color: #fff;
}

.autocomplete-deluxe-item-delete {
  background: url("../images/cross2.png") 0 0 no-repeat;
  display: block;
  font-size: 1px;
  height: 16px;
  position: absolute;
  right: 3px;
  top: 6px;
  width: 16px;
}

.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}

.autocomplete-deluxe-highlight-char {
  color: blue;
  font-weight: bold;
}

.form-type-autocomplete-deluxe .description {
  display: none;
}
