

/* Base Admin Theme Styles */


body.cke_editable {
	background: #fff;
}



a.tabledrag-handle .handle {
  height: 25px;
  width: 25px;
}


#footer {
  border-top: 1px solid #efefef;
  clear: both;
  font: normal 13px/13px "Open Sans", Arial, sans-serif;
  margin: 0 40px;
}

body.in-maintenance #footer {
  border: 0;
  margin: 0 auto;
  width: 960px;
}


#block-system-main {
  position: relative;
	overflow: hidden;
}

.breadcrumb {
  clear: left; /* LTR */
  color: #fff;
  float: left; /* LTR */
  padding-bottom: 5px;
  width: auto;
  a, span {
    display: inline-block;
    margin: 0 5px 0 0; /* LTR */
  }
  a {
    color: #ddd;
    @include t-light;
    font-size: 13px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  span {
    background: transparent url("../images/breadcrumb.png") no-repeat 0 0;
    height: 10px;
    margin-top: 6px;
    width: 6px;
  }
}

.help-section h3,
.help-section h3 a {
  font-size: 16px;
  font-weight: 400;
}

/* Default Buttons */



a.button {
  display: inline-block;
}

/* Fix padding issue in Firefox */
@-moz-document url-prefix() {
  input.form-submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}

input.form-submit:hover,
a.button:hover {
  background-position: 0 bottom;
}
.form-managed-file input.form-file {
  margin-right: 20px; /* LTR */
}
/* Hide placeholder text on input focus */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

a.button:hover {
  background-position: 0 bottom;
}

#overlay-container .overlay-modal-background {
  background: #ccc;
}
.overlay-modal-background {
/* Using a transparent png renders faster than using opacity */
  background: transparent url(../images/overlay.png) repeat !important;
}

ul.action-links {
	display: inline-block;
	width: 100%;
  padding: 0;
}
ul.action-links li {
  padding: 6px 0;
}


/* Green Buttons */
input#edit-submit,
.form-actions #edit-submit,
.form-actions #edit-save,
ul.action-links li,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a,
.field-widget-inline-entity-form .container-inline input.form-submit,
.form-actions input.form-submit,
input.ief-entity-submit {
  @include green-button;
  margin-right: .8em;
}

#edit-preview,
#edit-actions-cancel,
#edit-cancel {
	@include gray-button;
}

input[type="submit"] {
	outline: none;
}
/* =====================================
	Action Links Overrides of above
	====================================== */

ul.action-links li {
  float: left; /* LTR */
  padding: 0;
}

ul.action-links li a {
  color: #ffffff;
  font-weight: 500;
  padding: 4px 10px 4px 15px; /* LTR */
}

ul.action-links li a:before {
	position: relative;
	@include iconfont();
	content: '\f067';
	left: -6px;
}

ul.action-links li a:hover {
  text-decoration: none;
}

.rules-elements-table ul.rules-operations-add a {
  line-height: 1.25em;
  float: left; /* LTR */
}


.tabledrag-toggle-weight-wrapper {
	margin-top: 15px;
	margin-bottom: -32px;
}

.tabledrag-toggle-weight-wrapper a {
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: left;
	text-indent: -9999px;
	margin-right: 8px;
	background: url(../images/tabledrag-toggle.png) -94px -32px no-repeat transparent;
}


/* Firefox fix for Sticky Table Headers */
@-moz-document url-prefix() {
  table.sticky-header thead {
    display: table-header-group !important;
  }
}

form .field-multiple-table {
  margin-bottom: 10px;

  th.field-label {
    padding-left: 15px;
  }
}

#views-form-commerce-orders-admin-page table td.views-field-commerce-order-total,
#views-form-commerce-orders-admin-page table td.views-field-status {
  font-weight: 500;
}

table td.views-field-edit-node a {
  margin-right: 10px; /* LTR */
}
.form-item-changed-command-example .ajax-progress,
#commerce-kickstart-inline-help-form-ajax .ajax-progress {
  float: left; /* LTR */
  margin-right: 10px; /* LTR */
}
.item-list ul.pager li {
  border-right: 1px solid #737373; /* LTR */
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px 0 0; /* LTR */
  padding: 0 5px 0 0; /* LTR */
  text-transform: capitalize;
}
ul.pager li.pager-next {
  border-right: 0; /* LTR */
}
.item-list ul.pager {
  text-align: right; /* LTR */
}
ul.pager li a,
ul.pager li.pager-current {
  font-weight: 100;
  line-height: 1em;
}
ul.pager li.pager-current {
  -moz-box-shadow: inset 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 1px #fff;
  box-shadow: inset 0 0 1px #fff;
  color: #737373;
}
ul.pager li.pager-first,
ul.pager li.pager-last {
  display: none;
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
  padding: 3px 5px;
}
html.js input.throbbing {
  background-position: 100% -14px;
}

/**
* admin/modules
*/


#user-filter-form #edit-actions {
  background: transparent;
}
input.vbo-table-select-all,
input.vbo-select,
td.checkbox input.form-checkbox {
  border: 0;
  opacity: 1;
  height: 20px;
  width: 20px;
  background: transparent url("../images/toggles.png") no-repeat 0 0;
}

//----------------------------------------
// Filefield source
//----------------------------------------

div.filefield-sources-list {
  padding: 5px 10px 0 10px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #cfcfcf;
}

div.filefield-sources-list a {
  display: block;
  float: left;
  margin: 0 4px -1px 0;
  padding: 0.2em 1em;
  border: 1px solid #cfcfcf;
  @include border-radius(5px 5px 0 0);
  @include t-bold;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  background: #efefeb;
  @include box-shadow(inset 0 1px 1px #fff);
  &:hover {
    text-decoration: none;
  }
}


div.filefield-sources-list a.active {
  background: url(../images/panel-bg.png) 0 -13px repeat-x;
  border-bottom: 1px solid #fff;
  @include t-bold;
}

/* =======================================
Field groups
======================================== */

.field-multiple-table .field-group-multiple-container .even {
  background: none transparent;
}

.field-multiple-table .field-group-multiple-container .multiple-element,
.field-multiple-table .field-group-multiple-container .multiple-inline-element {
  padding: 0 0.5em 0 0;
  border: 0;
}

.field-type-field-collection .form-submit {
  margin: 15px 15px 0 0;
}


/* =======================================
	Text formats (under WYSIWYG)
	======================================== */

.wysiwyg-toggle-wrapper {
  float: right;
  a {
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
    font-weight: 300;
  }
}


fieldset.filter-wrapper {
  margin-top: 5px;
  background: none transparent;
  padding: 0;
  .form-item {
    label {
      font-size: 13px;
      font-weight: normal;
    }
    select {
      font-size: 12px;
      padding: 4px 35px 4px 5px;
    }
  }
  .filter-guidelines {
    display: none;
  }
}


/* =======================================
	Tooltips
	======================================== */

.help.tooltip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  position: absolute;
  text-align: left;
  text-indent: -9999px;
  @include iconfont();
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\f059';
    text-indent: 0;
    font-size: 16px;
    color: #e5dbc2;
  }
}


/* =======================================
	Content type extras - top action buttons
	======================================== */

#edit-pre-actions {
	text-align: right;
}

/* =======================================
	Filename
	======================================== */

span.file {
	img.file-icon,
	> a,
	.file-size {
		display: inline-block;
		vertical-align: bottom;
		margin-right: 5px;
	}
}

.image-widget-data span.file img.file-icon { display: none; }


