


/* Import Font Families */
@import "global/_base.scss";
@import "components/_components.scss";
@import "_glance.scss";
@import "_contrib.scss";
@import "_jquery.ui.theme.scss";

html, body {
  height: 100%;
}

body {
  color: #444;
  background: #fff;
  font-family: $normal;
  font-size: 15px;
  line-height: 1.5em;
}
a {
  color: #0074BD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

legend, strong, ul.admin-list li a, fieldset .fieldset-legend {
  @include t-bold;
}

/* Setting Museo Slab Family */
h1, h2, h3, h4, h5, h6 {
  @include t-bold;
  margin: 10px 0;
}

h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 30px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}

.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}

.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(/misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(/misc/menu-expanded.png);
  list-style-type:circle;
}

quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

input,
select,
textarea {
  font-family: $normal;
}
/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
	@include border-radius(0 0 10px 10px);
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

//-------------------------------
// Branding.
//-------------------------------

#branding {
  overflow: hidden;
  padding: 20px 40px 0 40px; /* LTR */
  position: relative;
  background-color: #31383d;
  box-shadow: inset 0 -2px 3px #222;
}

#branding div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
#branding div.block form label {
  display: none;
}
#branding div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
#branding div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
#branding div.block form input.form-submit {
  text-align: center;
  width: 80px;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right; /* LTR */
}

//----------------------------
// Page layout
//----------------------------

#page {
  min-height: 100%;
  padding: 20px 40px;
  background: $page-bg-color;
  position: relative;
  color: #333;
}

//----------------------------
// Page title
//----------------------------
#page-title {
  padding-top: 20px;
}

#branding h1.page-title {
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
  font-size: 20px;
  @include t-normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}



#content {
  clear: left;
}


ul.links li,
ul.inline li {
  padding-right: 1em; /* LTR */
}

ul.inline li {
  display: inline;
}

#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333;
}

dl.node-type-list dt {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  border-top: 1px solid #ccc;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url(../images/list-item.png) no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;

  &:first-child {
    border-top: 0;
  }
}

//--------------------------------
// Page content types
//--------------------------------

.page-admin-structure-types {
  .content {
    tbody {
      td:first-child {
        @include t-bold;
        small { @include t-normal; }
        .description {
          @include t-normal;
        }
      }
      .region-message td {
        @include t-normal;
        font-size: 12px;
      }
      .field-formatter-summary {
        font-size: 12px;
      }
    }
    table.field-ui-overview tr.add-new td {
      vertical-align: bottom;
    }
    table.field-ui-overview tr.add-new .add-new-placeholder {
      @include t-bold;
    }
  }
}

tr.region-title {
  background: #fafaf9;
  border-bottom: 3px solid #d2d2d2;
  td {
    text-transform: uppercase;
    padding-top: 20px;
  }
}

#field-overview tr.field-group .group-label,
#field-display-overview tr.field-group .group-label {
  @include t-bold;
}


//--------------------------------
// Admin lists
//--------------------------------

ul.admin-list li {
  position: relative;
  padding-left: 30px;
  padding-top: 9px;
  border-top: 1px solid #e6e4df;
  margin-left: 0;
  margin-bottom: 10px;
  background: url(../images/list-item.png) no-repeat 0 11px;
  list-style-type: none;
  list-style-image: none;
}

.admin-panel .item-list ul,
ul.admin-list {
  padding: 0;
  margin: 0;
  li {
    > a {
      @include t-bold;
      color: #444;
    }
    .description {
      font-size: 12px;
      color: #888;
    }
  }
}

.admin-panel .item-list ul {
  margin: 8px 0;
}

.admin-panel .item-list li,
ul.admin-list.compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}

ul.admin-list li:last-child {
  border-bottom: none;
}

ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}

ul.admin-list.compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}

ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}

div.submitted {
  color: #898989;
}

/* ========================================
Tables.
========================================= */

table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  background: #fff;
	
  thead {
    th {
      @include gradient-vertical(#f5f5f5, #efefeb);
      border: 0;
      padding: 10px;
      border-top: 1px solid #bfbfba;
      border-bottom: 1px solid #bfbfba;
      font-size: 14px;
      line-height: 1.3em;
      @include t-bold;
      &.active {
        background: url(../images/panel-bg.png) 0 0 repeat-x #ffffff;
      }
      > a {
        text-decoration: none;
        &:hover {
          color: #008ee6;
          text-decoration: none;
        }
      }
    }
  }
}

table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
}

table th a {
  display: block;
  position: relative;
}

tr.even,
tr.odd {
  border: 0;
  border-bottom: 1px solid #e6e4df;
  background: #fff;
	
  &:hover {
    background: #f7fcff;
  }
}

tr.odd {
  background: #fff;
}

tr.drag {
  background: #fdf6ce;
}

tr.drag-previous {
  background: #fdf6ce;
}


table th.views-field-operations-dropbutton {
  width: 175px;
}

table.sticky-header {
  z-index: 99;
  border-bottom: 0;
	@include box-shadow(0 1px 1px #bebfb9);

  th {
    border-bottom: 0;
  }
}





table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
table td.active {
  background: #fff;
}
table tr.odd td.active {
  background: #fff;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}


/* Filter */

.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}

a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}

ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}

ul.action-links a {
  padding-left: 15px; /* LTR */
  line-height: 30px;
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}
.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}
body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}
body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}
body.in-maintenance #branding h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(../images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  background: transparent url(../images/task-check.png) no-repeat 0 50%;
  color: green;
}


/* Shortcut theming */
div.add-or-remove-shortcuts {
  float: left; /* LTR */
  padding-top: 6px;
  padding-left: 6px; /* LTR */
}

/* Dashboard */
#dashboard .dashboard-region div.block h2 {
  background: #E0E0D8;
}
#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}
#dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}
#dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}
#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}
#field-display-overview tr.drag {
  background: #FFEE77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
#user-login-form .openid-links {
  margin-left: 0; /* LTR */
}
#user-login-form .openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
