
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

$normal: "robotoregular", Arial, sans-serif;
$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

//* {
//  font-weight: normal !important;
//}

@mixin t-normal{
  font-family: "robotoregular";
  font-weight: normal;
}

@mixin t-bold{
  font-family: "robotobold";
  font-weight: normal;
}

@mixin t-light{
  font-family: "robotolight";
  font-weight: normal;
}

/* Colors */
$red: #fabab9;
$warning: #fdefb3;
$green: #c7e1c0;

$light-red: #fcf4f2;
$light-warning: #fdf8ee;
$light-green: #f4faf0;

$orange: #e87c30;

$link-hover: #ad1533;

$page-bg-color: #fafaf9;

@mixin gradient-vertical($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top,  $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
}

@mixin button($border, $highlight) {
  border: 1px solid $border;
  @include border-radius(4px);
  -moz-box-shadow: 0 1px 2px #eee, inset 0 1px 1px $highlight;
  -webkit-box-shadow: 0 1px 2px #eee, inset 0 1px 1px $highlight;
  box-shadow: 0 1px 2px #eee, inset 0 1px 1px $highlight;
  font-size: 14px;
  padding: 7px 15px;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    color: #fff;
  }
}

@mixin grey-button {
  @include gradient-vertical(#fefefe,#e0e0e0);
  @include button(#ccc, #fff);
  padding: 5px 15px;
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background: #eeeeee;
    color: #5A5A5A;
    text-shadow: 0 -1px 1px #fff;
  }

}

@mixin blue-button {
  background: #004474;
  @include button(#003153, #417397);
  color: #fff;
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background: #79add7;
    color: #fff;
    text-shadow: 0 -1px 1px #2F88CD;
  }
}

@mixin gray-button {
  background: #efefeb;
  @include button(#d2d2d2, #fff);
  padding: 5px 15px;
  color: #333;
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background: #efefeb;
    box-shadow: none;
    color: #333;
  }
}

@mixin yellow-button {
	background: #fbc761;
  @include button(#d39236, #feedb3);
	padding: 7px 15px;
  color: #865a1d;

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background: #fbc761;
		box-shadow: none;
		color: #865a1d;
  }
}

@mixin green-button {
  //@include gradient-vertical(#36A2F6,#2F88CD);
	background: #5c945d;
  @include button(#518453, #81b082);
	//padding: 10px 30px;
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background: #518453;
		box-shadow: none;
    color: #fff;
    //text-shadow: 0 -1px 1px #27343a;
  }
}


@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

@mixin user-select($value) {
  /* Prevent text selection. */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin tab1-container {
  display: block;
	float: left;
  margin: 0;
	padding: 0;
  border-bottom: 1px solid #cfcfcf;
  width: 100%;
}

@mixin tab1-list {
	float:left;
	height: 30px;
	margin: 0 4px -1px 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	outline: 0;
}

@mixin tab1-a {
	display: block;
	float: left;
	margin: 0;
	padding: 0 1.5em;
	border: 1px solid #cfcfcf;
	@include border-radius(5px 5px 0 0);
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
	color: #333;
	background: #efefeb;
	-moz-box-shadow: inset 0 1px 1px white;
	-webkit-box-shadow: inset 0 1px 1px white;
	box-shadow: inset 0 1px 1px white;
	outline: 0;
}

@mixin tab1-a-sel {
	background: url(../../../images/panel-bg.png) 0 -13px repeat-x #fff;
	border-bottom: 1px solid #fff;
}

@mixin iconfont() {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}