

.ctools-button-processed {
  border: 1px solid #d2d2d2;
  display: inline-block;
	@include border-radius(3px);
}

.ctools-button-processed:hover {
  cursor: pointer;
}

.ctools-button-processed .ctools-content {
  padding-bottom: 2px;
  padding-top: 2px;
}

.ctools-no-js .ctools-content ul,
.ctools-button-processed .ctools-content ul {
  list-style-image: none;
  list-style-type: none;
}

.ctools-button-processed li {
  line-height: 1.3333;
}

.ctools-button li a {
  padding-left: 12px;
  padding-right: 12px;
}



.ctools-dropbutton-processed {
  padding-right: 18px;
  position: relative;
  background: #fff;
}

.ctools-dropbutton-processed.open {
  z-index: 200;
}

.ctools-dropbutton-processed .ctools-content li,
.ctools-dropbutton-processed .ctools-content a {
  display: block;
}

.ctools-dropbutton-processed .ctools-link {
  bottom: 0;
  display: block;
  height: auto;
  position: absolute;
  right: 0;
  text-indent: -9999px; /* LTR */
  top: 0;
  width: 22px;
	background: #fafaf9;
	@include border-radius(0 3px 3px 0);
}

.ctools-dropbutton-processed .ctools-link a {
  overflow: hidden;
}

.ctools-dropbutton-processed .ctools-content ul {
  margin: 0;
  overflow: hidden;
}

.ctools-dropbutton-processed.open li + li {
  padding-top: 4px;
}

/**
 * This creates the dropbutton arrow and inherits the link color
 */
.ctools-twisty {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  line-height: 0;
  right: 6px;
  position: absolute;
  top: 0.75em;
	color: #555;
}

.ctools-dropbutton-processed.open .ctools-twisty {
  border-bottom: 4px solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: 0.5em;
}

.ctools-no-js .ctools-twisty {
  display: none;
}
