/**
 * Fieldsets.
 *
 * Fieldset legends are displayed like containers in Seven. However, several
 * browsers do not support styling of LEGEND elements. To achieve the desired
 * styling:
 * - All fieldsets use 'position: relative'.
 * - All legend labels are wrapped in a single span.fieldset-legend that uses
 *   'position: absolute', which means that the LEGEND element itself is not
 *   rendered by browsers.
 * - Due to using 'position: absolute', collapsed fieldsets do not have a
 *   height; the fieldset requires a 'padding-top' to make the absolute
 *   positioned .fieldset-legend appear as though it would have a height.
 * - Various browsers are positioning the legend differently if there is a
 *   'padding-left'/'padding-right' applied on a fieldset and inherit the
 *   positioning even to absolute positioned elements within; we therefore have
 *   to apply all padding to the inner .fieldset-wrapper instead.
 */

fieldset {
  border: 1px solid #ddd;
  padding: 32px 0 0 0;
  /* LTR */
  position: relative;
  margin: 8px 0;
  @include border-radius(5px);
}

fieldset.form-wrapper,
fieldset.collapsible {
  background: url(../images/panel-bg.png) 0 0 repeat-x #ffffff;
}

fieldset.form-wrapper {
  margin-bottom: 1em;
}

fieldset.vertical-tabs-pane {
	background: #fff !important;
}

fieldset.collapsed {
  //@include gradient-vertical(#f8f8f8,#efefed);
	padding: 20px 0;
}

fieldset.collapsed .fieldset-legend a {
  background: url(../images/arr-right.gif) 5px 12px no-repeat transparent;
}

html.js fieldset.collapsible span.fieldset-legend {
  background: none transparent;
  padding-left: 10px;
}

fieldset .fieldset-legend {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
  @include t-bold;
  font-size: 14px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  white-space: nowrap;
}

fieldset .fieldset-legend em {
  font-style: normal;
  color: #2e6b99;
}

fieldset .fieldset-legend a {
  display: inline-block;
  margin-left: -10px;
  padding-left: 25px;
  text-decoration: none;
  color: #444;
  line-height: 40px;
  background: url(../images/arr-down.gif) 5px 12px no-repeat transparent;
}

fieldset .fieldset-wrapper {
	padding: 15px;
  /* LTR */
}

fieldset.collapsed {
  background-color: transparent;
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}
