
div.horizontal-tabs {
  margin: 0 0 1em 0; /* LTR */
  padding: 0;
  position: relative; /* IE6/7 */
}

.horizontal-tabs ul.horizontal-tabs-list {
  @include tab1-container;
  height: 35px;
	
  li {
    @include tab1-list;
		
    a {
      @include tab1-a;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
    }
		
    &.selected a {
      @include tab1-a-sel;
    }
  }
}

.horizontal-tabs-panes {
	float: left;
	width: 100%;
	background: #fff;
	border: 1px solid #cfcfcf;
	border-top: 0;
	@include border-radius(0 0 5px 5px);
	
	fieldset.form-wrapper {
		margin: 0;
	}
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0;
  border: 0;
	background: none transparent;
}

fieldset.horizontal-tabs-pane > legend,
fieldset.vertical-tabs-pane fieldset.horizontal-tabs-pane > legend {
  display: none;
}


.horizontal-tabs ul.horizontal-tabs-list .selected strong {
  color: #000;
}
.horizontal-tabs ul.horizontal-tabs-list .summary {
  display: block;
}
.horizontal-tabs ul.horizontal-tabs ul.horizontal-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

/**
 * tab content
 */
div.field-group-htabs-wrapper .field-group-format-wrapper {
  clear: both;
  padding: 0 0 0.6em;
}
/*hide*/
.horizontal-tabs .horizontal-tab-hidden {
  display: block;
  position: absolute;
  top: -100000px;
  width: 100%;
}
