
/**
 * Form elements.
 */

.form-item {
  padding: 9px 0;
  margin: 0 1em 1em 0;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
}
.form-item label.option {
  @include t-normal;
  font-size: 0.923em;
  padding-left: 5px;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

input.form-submit,
a.button {
  @include gray-button;
}

input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
  opacity: .75;
}

input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
  box-sizing: border-box;
}

input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}

body.in-maintenance fieldset .fieldset-legend {
  border-bottom: 0;
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-left: 0; /* LTR */
}

.form-item label {
  @include t-bold;
  font-size: 14px;
  padding-bottom: 3px;
}

.form-item div.description, fieldset p {
  font-size: 13px;
  font-weight: 100;
}

input.form-autocomplete,
input.form-text,
input.form-file {
  border: 1px solid #ccc;
  background: url(../images/shadow.png) 0 -5px repeat-x #fff;
  @include border-radius(3px);
  max-width: 100%;
  padding: 4px;
  font-size: 14px;
}

textarea.form-textarea {
  border: 1px solid #ccc;
	background: url(../images/shadow.png) 0 -5px repeat-x #fff;
	@include border-radius(3px);
  font-size: 1em;
  padding: 5px 10px;
}

.resizable-textarea textarea.form-textarea {
  border-bottom: none;
}
.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 250px;
}
.text-format-wrapper fieldset,
.text-format-wrapper fieldset .fieldset-wrapper {
  background: transparent;
  border: none;
}
.text-format-wrapper fieldset .fieldset-wrapper .form-item {
  clear: left; /* LTR */
}
.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 280px;
}
input.form-autocomplete:focus,
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  background-color: #fff;
  color: #000;
}

#edit-actions {
  background: transparent;
  padding: 20px 0 0 0;

  input.form-submit {
    margin-bottom: 0;
  }

  #edit-delete {
    color: #ab5757;
    float: right; /* LTR */
    margin: 0;
    background: transparent;
    border: 0;
    @include box-shadow(none);

    &:hover {
      text-decoration: underline;
    }
  }
}

.node-form #edit-actions,
#commerce-product-ui-product-form #edit-actions  {
  background: #fafaf9;
  padding: 15px;
	@include border-radius(5px);
}

/* Customized Checkbox and Radios */
.form-type-checkbox,
.form-type-radio {
  position: relative;
}
input.form-checkbox + label,
input.form-radio + label {
  font-weight: 500;
  padding-left: 20px; /* LTR */
  cursor: pointer;
}

/* Using "foo" to make unsupporting browsers ignore */
#foo:checked::before,
input.form-checkbox ,
input.form-radio {
  opacity: 0;
  width: 20px;
  height: 20px;
}

#foo:checked,
input.form-checkbox + label::before,
input.form-radio + label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0; /* LTR */
  height: 20px;
  width: 20px;
  background: transparent url("../images/toggles.png") no-repeat 0 0;
}

#foo:checked,
.form-disabled input.form-checkbox + label::before {
  opacity: .4;
}

#foo:checked,
body.in-maintenance input.form-radio + label::before {
  top: 4px;
}

input.form-radio + label::before {
  background-position: 0 -40px;
}

#foo:checked,
input.form-checkbox:checked + label::before {
  background-position: 0 -20px;
}

input.form-radio:checked + label::before {
  background-position: 0 -60px;
}

select.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #ccc;
  @include border-radius(3px);
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  max-width: 100%;
  padding: 3px;
  width: auto;

  &:focus {
    color: #000;
  }
}

/* ===============================
	Input fields icons
	================================ */

.date-date {
	position: relative;
	&:before {
		@include iconfont();
		content: '\f073';
		position: absolute;
		top: 3px;
		right: 11px;
	}
}

/* Form Fixes for Webkit Browsers. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select.form-select {
    padding: 4px 35px 4px 5px; /* LTR */
    background: #fff url(../images/drop-filter.png) no-repeat right center; /* LTR */
		min-height: 27px;

    &[multiple="multiple"] {
      background: #fff;
      padding: 5px;
    }
  }
  form table {

    input.form-checkbox,
    input.form-radio {
      -webkit-appearance: none;
      appearance: none;
      border: 0;
      opacity: 1;
      height: 20px;
      width: 20px;
      background: transparent url("../images/toggles.png") no-repeat 0 0;
    }
    input.form-checkbox:checked {
      background-position: 0 -20px;
    }
    input.form-radio {
      background-position: 0 -40px;
    }
    input.form-radio:checked {
      background-position: 0 -60px;
    }
    .form-disabled input.form-checkbox {
      opacity: .4;
    }
  }
}

/* Form Fix for Firefox */
@-moz-document url-prefix() {
  form table {
    input.form-checkbox,
    input.form-radio {
      opacity: 1;
      height: auto;
      width: auto;
    }
    .fieldset-wrapper input.form-radio,
    .fieldset-wrapper input.form-checkbox {
      opacity: 0;
    }
  }
}
/* Form Fix for Opera */
noindex:-o-prefocus, form table {
  input.form-checkbox,
  input.form-radio {
    opacity: 1;
  }
}
.exposed-filters .form-item label {
  float: none;
}
#edit-operation {
  margin-top: 6px;
}
body.in-maintenance fieldset.form-wrapper {
  border: 0;
  max-width: 530px;
  padding-top: 3em;
}

body.in-maintenance select.form-select {
  width: 500px;
}
.form-required,
.form-type-managed-file strong {
  color: #ff7e00;
  font-weight: 500;
}
body.in-maintenance .form-submit:hover {
  background: #79d428 url("../images/button-over.png") repeat-x 0 0;
}
body.in-maintenance #install-settings-form fieldset .fieldset-legend {
  font-size: 16px;
}
body.in-maintenance #install-settings-form fieldset .fieldset-wrapper {
  padding-top: 25px;
}



