.form-text.imagefield-focus
{
  max-width: 13em;
}

.form-text.imagefield-focus.active
{
  border: 2px solid #999;
}

.imagefield-focus.focus-box
{
  min-width: 500px;
	margin-top: 15px;
}

fieldset.imagefield-focus .form-item {
	display: inline-block;
	margin-right: 15px !important;
}