//----------------------------------------
// Loaders
//----------------------------------------

html.js input.form-autocomplete {
  background-image: url(../images/loader.png) !important;
  background-position: 100% 50% !important;
  background-repeat: no-repeat !important;
  background-origin: content-box;
}

html.js input.throbbing {
  background-image: url(../images/ajax-loader.gif) !important;
}

.ajax-progress .throbber {
  display: none !important;
}

.ajax-progress-throbber {
  background-color: #000;
  background-image: url(../images/big-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  @include border-radius(5px);
  height: 70px;
  opacity: .7;
  padding: 4px;
  width: 70px;
  left: 48%;
  position: fixed;
  top: 46.5%;
  z-index: 1000;
}

.ajax-progress-throbber .message {
  display: none;
}