
/**
 * @file
 * Basic styling for the Overlay child pages.
 */

#overlay {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  min-width: 700px;
  position: relative;
  padding: .2em;
  padding-bottom: 2em;
  padding-right: 26px; /* LTR */
  width: 88%;
}
#overlay-titlebar {
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}

#overlay-titlebar,
#branding,
.views-ui-dialog .views-override{
	background: #efefeb;
  box-shadow: inset 0 -2px 3px #ddd;
}

#overlay-titlebar {
  @include border-radius(4px 4px 0 0);
  .add-or-remove-shortcuts {
    padding-top: 31px;
  }
}

#overlay-content {
  background: #fff;
  clear: both;
  color: #000;
  padding: .5em 1em;
  position: relative;
}

#overlay #overlay-content #branding {
  padding: 0 20px;
}

#overlay #overlay-content #page {
  padding: 0 20px 30px;
}

.overlay ul.secondary {
  margin-top: 0;
  padding-top: 10px;

  li {
    margin: 0;
    padding: 0 0 0 10px; /* LTR */
  }
}

#overlay-title-wrapper {
  overflow: hidden;
}

#overlay-title {
  color: #444;
  float: left; /* LTR */
  font: normal 500 24px/24px "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0.3em 0;
	padding-top: 25px;
}

#overlay-title:active,
#overlay-title:focus {
  outline: 0;
}

.overlay #branding h1.page-title,
.overlay #left,
.overlay #feed-icons {
  display: none;
}

.overlay #skip-link {
  margin-top: -20px;
}
.overlay #skip-link a {
  color: #fff; /* This is white to contrast with the dark background behind it. */
}

#overlay-close-wrapper {
	position: absolute;
	right: 30px;
	top: 5px;
}

#overlay-close,
#overlay-close:hover {
  /*background: transparent url(images/close.png) no-repeat;*/
  display: block;
  height: 26px;
  margin: 0;
  padding: 0;
  /* Replace with position:fixed to get a scrolling close button. */
  position: absolute;
  width: 26px;
	text-decoration: none;
	
	&:before {
		@include iconfont();
		content: '\f057';
		position: absolute;
		top: 3px;
		right: 3px;
		font-size: 24px;
		color: #555;
		text-indent: 0;
	}
}

/**
 * Tabs on the overlay.
 */

/**
 * Add to shortcuts link
 */
#overlay-titlebar .add-or-remove-shortcuts {
  padding-top: 0.9em;
}

/**
 * IE6 shows elements with position:fixed as position:static so replace
 * it with position:absolute;
 */
* html #overlay-close,
* html #overlay-close:hover {
  position: absolute;
}

/**
 * Disable message.
 */
#overlay-disable-message {
  background-color: #fff;
  margin: -20px auto 20px;
  width: 80%;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-radius: 0 0 8px 8px;
}
.overlay-disable-message-focused {
  padding: 0.5em;
}
.overlay-disable-message-focused a {
  display: block;
  float: left;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  float: right;
}

#overlay #overlay-content #footer {
  border-top: 0;
  color: #fff;
  margin: 0 0 0 -8px;
  padding: 0 8px;
  position: absolute;
  top: 100%;
  width: 100%;
}


/**
 * @file
 * Basic styling for the Overlay module.
 */

html.overlay-open,
html.overlay-open body {
  height: 100%;
  overflow: hidden;
}

#overlay-container,
.overlay-modal-background,
.overlay-element {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}

.overlay-modal-background {
  /* Using a transparent png renders faster than using opacity */
  background: transparent url(images/background.png) repeat;
}

.overlay-element {
  background: transparent;
  left: -200%;
  z-index: 501;
}
.overlay-element.overlay-active {
  left: 0;
}

html.overlay-open .displace-top,
html.overlay-open .displace-bottom {
  z-index: 600;
}

/**
 * Within the overlay parent, the message about disabling the overlay is for
 * screen-reader users only. It is always kept invisible with the
 * element-invisible class, and removed from the tab order. Overlay-child.css
 * contains styling for the same message appearing within the overlay, and
 * intended for sighted users.
 */
#overlay-disable-message {
  display: none;
}
html.overlay-open #overlay-disable-message {
  display: block;
}
