
/**
 * @file
 * Styles for system messages.
 */

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; /* LTR */
  @include border-radius(3px);
  position: relative;
  font-size: 13px;
  line-height: 1.3em;
}

div.status {
  border-color: #cbe0bf;
}

div.messages:before {
  @include iconfont();
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 24px;
}

div.status:before {
  content: "\f00c";
	color: #709f56;
	font-size: 16px;
}

div.status,
.ok {
  color: #365d22;
	a {
		color: #365d22;
		text-decoration: underline;
	}
}

div.status,
table tr.ok {
  background-color: #f4faf0;
}

div.warning {
  border-color: #f3d9aa;
}

div.warning:before {
  content: "\f071";
	color: #dc942a;
	font-size: 18px;
}

div.warning,
.warning {
  color: #840;
	a {
		color: #840;
		text-decoration: underline;
	}
}

div.warning,
table tr.warning {
  background-color: #fdf8ee;
}

div.error {
  border-color: #f6c9c0;
}

div.error:before {
  content: "\f057";
	color: #e44f44;
	font-size: 20px;
}

div.error,
.error {
  color: #8c2e0b;
	a {
		color: #8c2e0b;
		text-decoration: underline;
	}
}

div.error,
table tr.error {
  background-color: #fcf4f2;
}

div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}

div.messages ul li {
  list-style-image: none;
	margin: 5px 0;
}
