//-------------------------------
// Tabs (primary tabs)
//-------------------------------

ul.primary,
ul#overlay-tabs {
  float: right; /* LTR */
  border-bottom: none;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
}

ul.primary li,
ul#overlay-tabs li {
  float: left; /* LTR */
  list-style: none;
  margin: 0 2px;
}

#overlay-tabs li a,
ul.primary li a {
  display: block;
  float: left; /* LTR */
  line-height: 32px;
  margin-bottom: -1px;
  padding: 0 15px;
  background: #ddd;
  color: #444;
  @include t-bold;
  font-size: 15px;
  font-weight: normal;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #333;
  @include border-radius(4px 4px 0 0);
  @include box-shadow(inset 0 -2px 3px #ccc);
  text-transform: none;
  &:focus,
  &:hover {
    background: #eaeaea;
    text-decoration: none;
    border-color: #333;
  }
}

#overlay-tabs li.active a,
ul.primary li.active a {
  background-color: $page-bg-color;
  border-color: $page-bg-color;
  @include box-shadow(none);
  padding: 0 15px;
}

#overlay-tabs li.active a:focus,
#overlay-tabs li.active a:hover,
ul.primary li.active a:hover {
  background: #fff;
  color: #000;
}

.tabs-secondary {
  clear: both;
}

ul.secondary {
  float: right; /* LTR */
  font-size: 0.923em;
  padding: 0 3px 5px;
  line-height: 1.385em;
  overflow: hidden;
}

ul.secondary li {
  margin: 0 5px;
  float: none; /* LTR */
}
ul.secondary li a {
  background-color: #ddd;
  color: #000;
  font-size: 13px;
  display: inline-block;
}

ul.secondary li a,
ul.secondary li a.active {
  padding: 5px 10px;
  @include border-radius(3px);
}

ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
  background: #485259;
}

#secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}

#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#secondary-links ul.links li a:hover {
  background: #999;
}