
div.vertical-tabs {
  background: #fff url(../images/fc-2.png) repeat-y 0 0;
  border: 1px solid #cfcfcf;
  margin: 10px 0;
  position: relative;
  @include border-radius(5px);
}

fieldset.vertical-tabs-pane {
  border: 0;
  padding: 0;
  margin: 0;
}

div.vertical-tabs .vertical-tabs-list {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  @include border-radius(5px 0 0 5px);
  float: left; /* LTR */
  font-size: 1em;
  line-height: 1;
  margin: 0 -100% -1px 0; /* LTR */
  padding: 0;
  width: 240px;
  li:first-child a {
    @include border-radius(5px 0 0 0);
  }
  li:last-child a {
    @include border-radius(0 0 0 5px);
  }
}

div.vertical-tabs ul li.vertical-tab-button {
  list-style: none;
  list-style-image: none;
  margin: 0;
  outline: 0;
}

div.vertical-tabs ul li.vertical-tab-button a {
  border-top: 1px solid #cfcfcf;
  display: block;
  padding: 10px;
  outline: 0;
}

div.vertical-tabs ul li.first a {
  border-top: 0;
}

div.vertical-tabs ul li.vertical-tab-button strong {
  font-size: 0.923em;
  color: #30424a;
}

div.vertical-tabs ul li.vertical-tab-button .summary {
  color: #444;
  display: block;
  font-size: 11px;
  padding-top: .5em;
  @include t-light;
  line-height: 1.3em;
}

div.vertical-tabs ul li.vertical-tab-button a:hover,
div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #fafaf9;
  text-decoration: none;
  outline: 0;
}
div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover,
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:active {
  background: #fff;
  border-right-color: #fff; /* LTR */
  border-top: 1px solid #ccc;
}
div.vertical-tabs ul li.first.selected a,
div.vertical-tabs ul li.first.selected a:hover {
  border-top: 0;
}
div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: underline;
}

div.vertical-tabs .vertical-tabs-panes {
  margin: 0 0 0 240px; /* LTR */
  padding: 10px 15px 10px 40px; /* LTR */
  background: #fff;
  @include border-radius(0 5px 5px 0);
}

fieldset.vertical-tabs-pane legend {
  display: none;
}

fieldset.vertical-tabs-pane fieldset legend {
  display: block;
}

.vertical-tabs-pane .fieldset-wrapper > div:first-child {
  padding-top: 5px;
}

/**
 * Prevent text inputs from overflowing when container is too narrow. "width" is
 * applied to override hardcoded cols or size attributes and used in conjunction
 * with "box-sizing" to prevent box model issues from occurring in most browsers.
*/
.vertical-tabs .form-type-textfield input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* html .vertical-tabs .form-type-textfield,
* html .vertical-tabs .form-textarea-wrapper {
  width: 95%; /* IE6 */
}
