.views-admin ul,
.views-admin menu,
.views-admin dir {
  padding-left: 0; /* LTR for IE */
  /* padding-start is used so that RTL works out of the box */
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  padding-start: 0;
}

.views-admin pre {
  margin-bottom: 0;
  margin-top: 0;
  white-space: pre-wrap;
}

/* @end */

/* @group Inline lists */

.horizontal > * {
  clear: none;
  float: left; /* LTR */
}

.horizontal.right {
  float: right;
}

.horizontal label {
  position: absolute;
}

.horizontal .form-item > [class] {
  margin-top: 25px;
}

.horizontal .form-item > [class] + [class] {
  margin-top: 0;
}

/* @end */

/* @group Columns */

.views-left-25 {
  float: left;
  width: 25%;
}

.views-left-30 {
  float: left;
  width: 30%;
}

.views-left-40 {
  float: left;
  width: 40%;
}

.views-left-50 {
  float: left;
  width: 50%;
}

.views-left-75 {
  float: left;
  width: 75%;
}

.views-right-50 {
  float: right;
  width: 50%;
}

.views-right-60 {
  float: right;
  width: 60%;
}

.views-right-70 {
  float: right;
  width: 70%;
}

.views-group-box .form-item {
  margin-left: 3px;
  margin-right: 3px;
}

/* @end */

/* @group Attachment details
 *
 * The attachment details section, its tabs for each section and the buttons
 * to add a new section
 */

.form-edit .form-actions {
  float: right; /* LTR */
}


.views-displays {
  clear: both;
  .secondary {
    border-bottom: 0 none;
    margin: 0;
    overflow: visible;
    padding: 0;
    > li {
      border-right: 0 none;
      display: inline-block;
      float: left; /* LTR */
      padding: 0;
    }
  }
}

.views-displays .secondary .open > a {
  position: relative;
  z-index: 51;
}

.views-displays .views-display-deleted-link {
  text-decoration: line-through;
}

.views-display-deleted > fieldset > legend,
.views-display-deleted .fieldset-wrapper > .views-ui-display-tab-bucket > *,
.views-display-deleted .views-display-columns {
  opacity: 0.25;
}

.views-display-disabled > fieldset > legend,
.views-display-disabled .fieldset-wrapper > .views-ui-display-tab-bucket > *,
.views-display-disabled .views-display-columns {
  opacity: 0.5;
}

.views-display-tab .fieldset-wrapper > .views-ui-display-tab-bucket .actions {
  opacity: 1.0;
}
/* @end */

/* @group Attachment details new section button */

.views-displays .secondary li.add {
  position: relative;
}

.views-displays .secondary .action-list {
	background: #fff;
	border: 1px solid #ddd;
	@include border-radius(0 4px 4px 4px);
  left: 0; /* LTR */
  margin: 0;
	margin-top: -1px;
	padding: 5px;
  position: absolute;
  top: 100%;
  z-index: 50;
}

.views-displays .secondary .action-list  li {
  display: block;
}

/* @end */

/* @group Attachment details collapsible fieldset */

.views-display-tab .fieldset-legend {
  left: -5px; /* LTR */
  position: relative;
}

.views-display-tab .fieldset-wrapper {
  position: relative;
}

/* @end */

/* @group Attachment details actions
 *
 * Display the "Delete" and "Duplicate" buttons to the right.
 */
.views-display-tab .fieldset-wrapper > .views-ui-display-tab-bucket .actions {
  position: absolute;
  right: 0; /* LTR */
  top: -5px;
}

/* @end */

/* @group Attachment configuration columns */

.views-display-columns > * {
  float: left; /* LTR */
  margin-left: 1%; /* LTR */
  padding-left: 1%; /* LTR */
  width: 32%;
}

.views-display-columns > *:first-child {
  margin-left: 0; /* LTR */
  padding-left: 0; /* LTR */
}

/* @end */

/* @group Modal dialog box */

.views-ui-dialog {
  /* We need this so the button is visible. */
  overflow: visible;
  position: fixed;
}

.views-ui-dialog .ui-dialog-titlebar-close {
  border: 1px solid transparent;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 2px;
  /* Make sure this is in front of the modal backdrop. */
  z-index: 1002;
}

.views-ui-dialog .ui-dialog-titlebar {
  padding: 0;
  margin: 0;
}

.views-ui-dialog .ui-dialog-title {
  display: none;
}

.views-ui-dialog #views-ajax-popup {
  padding: 0;
  overflow: hidden;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog #views-ajax-body {
  margin: 0;
  padding: 0;
}

.views-ui-dialog #views-ajax-popup {
  overflow: hidden;
}

.views-ui-dialog .scroll {
  max-height: 400px;
  overflow: auto;
}

#views-filterable-options-controls {
  display: none;
}

.views-ui-dialog #views-filterable-options-controls {
  display: block;
}

/* Don't let the messages overwhelm the modal */
.views-ui-dialog .views-messages {
  max-height: 200px;
  overflow: auto;
}

/* @end */

/* @group Settings forms */

.views-display-setting .label,
.views-display-setting .views-ajax-link {
  display: inline-block;
  float: left; /* LTR */
}

/* @end */

/* @group Filter Settings form */

div.form-item-options-value-all {
  display: none;
}
/* @end */

/* @group Drupal overrides */

/* The .progress-disabled class added to the form on submit floats the element
 * left and causes the form width to shrink-wrap to the content. Setting the
 * width to 100% prevents this.
 */
#views-ajax-body form {
  width: 100%;
}

/* @end */



/* @group Javascript dependent styling */

.js-only {
  display: none;
}

html.js .js-only {
  display: inherit;
}

html.js span.js-only {
  display: inline;
}

/* @end */

/* @group AJAX throbber */

/* Base Page */
#views-ui-list-page .ajax-progress-throbber,
.views-admin .ajax-progress-throbber {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%;
  position: fixed;
  top: 48.5%;
  z-index: 1000;
}
#views-ui-list-page .ajax-progress-throbber .message,
.views-admin .ajax-progress-throbber .message {
  display: none;
}

/* Modal */
#views-ajax-popup .ajax-progress-throbber {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%;
  position: fixed;
  top: 48.5%;
  z-index: 1000;
}
#views-ajax-popup .ajax-progress-throbber .message {
  display: none;
}

/**
 * The .theme.css file is intended to contain presentation declarations including
 * images, borders, colors, and fonts.
 */

/* @group Reset */

.views-admin .links {
  list-style: none outside none;
  margin: 0;
}

.views-admin a:hover {
  text-decoration: none;
}

/* @end */

/* @group Layout */

.box-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.box-margin {
  margin: 12px 12px 0 12px;
}

/* @end */

/* @group Icons */

.views-admin .icon {
	position: relative;
  height: 16px;
  width: 16px;
}

.views-admin .icon:before {
	display: block;
	@include iconfont();
}

.views-admin .icon.add:before {
  content: '\f067';
}

.views-admin a.icon.delete:before {
  content: '\f00d';
}
/**
 * Targets a <span> element inside an <a> element.
 * This assumes no visible text from the span.
 */
.views-admin span.icon {
  display: inline-block;
  float: left;
  position: relative;
}

.views-admin .icon.compact {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

/* Targets any element with an icon -> text combo */
.views-admin .icon-text {
  padding-left: 19px; /* LTR */
}

.views-admin .icon.linked {
  background-position: center -153px;
}

.views-admin .icon.unlinked {
  background-position: center -195px;
}

.views-admin .icon.add {
  background-position: center 3px;
}

.views-admin a.icon.add {
  background-position: center 3px, left top;
}

.views-admin .icon.delete {
  background-position: center -52px;
}

.views-admin a.icon.delete {
  background-position: center -52px, left top;
}

.views-admin .icon.rearrange {
  background-position: center -111px;
}

.views-admin a.icon.rearrange {
  background-position: center -111px, left top;
}

.views-displays .secondary a:hover > .icon.add {
  background-position: center -25px;
}

.views-displays .secondary .open a:hover > .icon.add {
  background-position: center 3px;
}

/* @end */

/* @group Forms */

fieldset.box-padding {
  border: none;
}

.views-admin fieldset fieldset {
  margin-bottom: 0;
}

.form-item {
  margin-top: 9px;
  padding-bottom: 0;
  padding-top: 0;
}

.form-type-checkbox {
  margin-top: 6px;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

//.form-submit:not(.js-hide) + .form-submit,
.views-admin a.button:not(.js-hide) + a.button {
  margin-left: 1em; /* LTR */
}

.container-inline {
  padding-top: 15px;
}

.views-admin fieldset fieldset.container-inline {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 0;
}


/* Indent form elements so they're directly underneath the label of the checkbox that reveals them */
.views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 16px; /* LTR */
}

/* Hide 'remove' checkboxes. */
.views-remove-checkbox {
    display: none;
}

/* sizes the labels of checkboxes and radio button to the height of the text */
.views-admin .form-type-checkbox label,
.views-admin .form-type-radio label {
  line-height: 2;
}

/* @group Dependent options */

.views-admin-dependent .form-item {
  margin-bottom: 6px;
  margin-top: 6px;
}

/* @end */

/* @end */

/* @group Lists */

.horizontal > * + * {
  margin-left: 9px; /* LTR */
  padding-left: 9px; /* LTR */
}

.views-ui-view-title {
  @include t-bold;
}

.views-ui-view-displays,
.views-ui-view-storage,
.views-ui-view-base {
	font-size: 12px;
	line-height: 1.3em;
	color: #999;
}

/* @end */

/* @group Messages */

.view-changed {
  margin-bottom: 21px;
}

/* @end */

/* @group Headings */

/* Intentionally targeting h1 */
.views-admin h1.unit-title {
  font-size: 15px;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 18px;
}

/* @end */

/* @group Tables */

table td,
table th {
  vertical-align: top;
}

/* @end */

/* @group List views */

/* These header classes are ambiguous and should be scoped to th elements */

th.views-ui-name {
  width: 18%;
}

th.views-ui-description {
  width: 26%;
}

th.views-ui-tag {
  width: 8%;
}

th.views-ui-path {
  width: auto;
}

th.views-ui-operations {
  width: 24%;
}

/* @end */

/* @group Add view */

/**
 * Drupal core forces AJAX triggering elements to float left when they are
 * disabled due to AJAX processing. On the add view page, we have inline
 * containers where we don't want that behavior; it causes the select dropdown
 * which is triggered to jump to the left while the AJAX throbber is active.
 *
 * See also http://drupal.org/node/769936 (Drupal core issue); when that is
 * fixed it may no longer be necessary to do this.
 */
.views-admin .container-inline .progress-disabled {
  float: none;
}

/**
 * I wish this didn't have to be so specific
 */
.form-item-description-enable + .form-item-description {
  margin-top: 0;
}

.form-item-description-enable label {
  @include t-bold;
}

.form-item-page-create,
.form-item-block-create {
  margin-top: 13px;
}

.form-item-page-create label,
.form-item-block-create label {
  @include t-bold;
}

/* This makes the form elements after the "Display Format" label flow underneath the label */
.form-item-page-style-style-plugin > label,
.form-item-block-style-style-plugin > label {
  display: block;
}

.views-attachment .options-set label {
  font-weight: normal;
}

/* @end */

/* @group Rearrange filters
 *
 * Styling for the form that allows views filters to be rearranged.
 */

.group-populated {
  display: none;
}

td.group-title {
  @include t-bold;
}

.views-ui-dialog td.group-title {
  margin: 0;
  padding: 0;
}

.views-ui-dialog td.group-title span {
  display: block;
  height: 1px;
  overflow: hidden;
}

.group-message .form-submit,
.views-remove-group-link,
#views-add-group {
  float: right;
  clear: both;
}

.views-operator-label {
  font-style: italic;
  @include t-bold;
  padding-left: 0.5em; /* LTR */
  text-transform: uppercase;
}

.grouped-description,
.exposed-description {
  float: left;
  padding-top: 3px;
  padding-right: 10px;
}

/* This keeps the collapsible fieldsets of options from crashing into the bottom
 * of the edit option columns. Because the edit option columns are floated, the collapsible
 * fieldsets need to be floated as well so that the margin above the fieldset interacts with
 * the float edit option columns.
 */
#edit-options .collapsible {
  float: left;
  width: 100%;
}

#edit-options-more {
  clear: both;
}

/* @end */

/* @group Attachments */

.views-displays {
  border: 1px solid #CCC;
  margin-bottom: 20px;
	
	.views-display-settings {
		background: #fff;
		margin: 0;
		padding: 15px;
	}
}

.views-display-top {
  background: #fafaf9;
  border-bottom: 1px solid #cfcfcf;
  padding: 8px 8px 8px; /* LTR */
  position: relative;
}

.views-display-top .ctools-button-processed {
font-size: 14px;
position: absolute;
right: 12px;
top: 15px;
}

.views-display-top .secondary {
  margin-right: 18em;
}

.views-display-top .secondary > li {
  margin-right: 6px;
  padding-left: 0;
}

.views-display-top .secondary > li:last-child {
  margin-right: 0;
}

#views-display-extra-actions li {
  padding: 3px 9px;
}

.views-display-top #views-display-top {
  max-width: 180px;
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

ul#views-display-menu-tabs {
	float: left;
	background: none transparent;
  margin-right: 200px;
}

ul#views-display-menu-tabs li {
  margin: 5px;
}

ul#views-display-menu-tabs li.add ul.action-list li{
  margin: 0;
}

.views-displays ul.secondary li a {
	@include gray-button();
  padding: 7px 15px;
}

/**
 * Display a red border if the display doesn't validate.
 */
.views-displays ul.secondary li.active a.active.error,
.views-displays .secondary a.error {
  border: 2px solid #ED541D;
  padding: 1px 6px;
}

.views-displays .secondary a:focus {
  outline: none;
}

.views-displays ul.secondary li a:hover,
.views-displays ul.secondary li.active a {
  background-color: #666666;
  color: #ffffff;
  @include box-shadow(none);
	padding: 7px 15px;
}

.views-displays .secondary li.open > a {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  position: relative;
	@include box-shadow(none);
	@include border-radius(4px 4px 0 0);
}

.views-displays .secondary .open > a:hover {
  background-color: #fff;
	color: #555;
}

.views-displays .secondary .action-list  li.first input.form-submit {
	@include border-radius(3px 3px 0 0);
	border-top: 1px solid #d2d2d2;
}

.views-displays .secondary .action-list  li.last input.form-submit {
	@include border-radius(0 0 3px 3px);
}

.views-displays .secondary .action-list input.form-submit {
  @include box-shadow(none);
	@include border-radius(0);
	width: 100%;
	margin: 0;
	border-top: 1px solid #fafaf9;
	text-align: left;
	&:hover {
		background: #d8d8cf;
	}
}


/* @end */

/* @group Attachment details */

#edit-display-settings-title {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

#edit-display-settings-top {
  padding-bottom: 4px;
}

#edit-display-settings-content {
  margin-top: 12px;
}

#edit-display-settings-main {
  margin-top: 15px;
}

/* @end */

/* @group Attachment columns
 *
 * The columns that contain the option buckets e.g. Format and Basic Settings
 */

.views-display-column + .views-display-column {
   margin-top: 0;
 }

 /* @end */

/* @group Auto preview
 *
 * The auto-preview checkbox line.
 */

#views-ui-preview-form {
	background: #fafaf9;
	border: 1px solid #ddd;
	padding: 15px;
}

#views-ui-preview-form > div > div,
#views-ui-preview-form > div > input {
  float: left;
}

#views-ui-preview-form .form-item-live-preview {
	float: right;
}

#views-ui-preview-form .form-type-checkbox {
  margin-top: 2px;
  margin-left: 2px;
}

#views-ui-preview-form .form-type-textfield {
  margin-top: 5px;
}

#views-ui-preview-form .arguments-preview {
  font-size: 1em;
}

#views-ui-preview-form .arguments-preview,
#views-ui-preview-form .form-type-textfield {
  margin-left: 14px;
}

#views-ui-preview-form .arguments-preview {
	margin-top: 1.5em;
}

#views-ui-preview-form .form-type-textfield label {
  line-height: 1.5em;
	padding: 0;
}

#views-ui-preview-form .form-type-textfield .description {
  white-space: nowrap;
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the display settings area
 */

.views-ui-display-tab-bucket {
  border: 1px solid #ddd;
  line-height: 20px;
  margin: 5px 0;
  padding-top: 4px;
	@include border-radius(3px);
}

//.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
//  border-top: medium none;
//}

.views-ui-display-tab-bucket > h3,
.views-ui-display-tab-bucket > .views-display-setting {
  padding: 2px 2px 6px 8px;
}

.views-ui-display-tab-bucket h3 {
	font-size: 14px;
  margin: 0;
	min-height: 32px;
}

.views-ui-display-tab-bucket .horizontal.actions {
  margin-right: 6px;
}

.views-ui-display-tab-bucket .actions.horizontal li + li {
  margin-left: 3px;
  padding-left: 3px;
}

.views-ui-display-tab-bucket.access {
  padding-top: 0;
}


.views-display-setting .views-ajax-link {
  margin-left: 0.2083em;
  margin-right: 0.2083em;
}

/* @end */

/* @group Attachment bucket overridden
 *
 * Applies a overriden(italics) font style to overridden buckets.
 * The better way to implement this would be to add the overridden class
 * to the bucket header when the bucket is overridden and style it as a
 * generic icon classed element. For the moment, we'll style the bucket
 * header specifically with the overriden font style.
 */

.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden > h3 {
  font-style: italic;
}

/* @end */

/* @group Attachment bucket drop button */

.views-ui-display-tab-bucket {
  position: relative;
}

/* @end */

/* @group Attachment bucket rows
 *
 * This is each row within one of the "boxes."
 */

.views-ui-display-tab-bucket .views-display-setting {
  color: #666666;
  font-size: 12px;
  padding-bottom: 2px;
}

.views-ui-display-tab-bucket .even {
  background-color: #f9f9f9;
}

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.views-display-setting .label {
  margin-right: 3pt; /* LTR */
}

/* @end */

/* @group Preview
 *
 * The preview controls and the preview pane
 */

#edit-displays-preview-controls .fieldset-wrapper > * {
  float: left;
}

#edit-displays-preview-controls .fieldset-wrapper > .form-item {
  margin-top: 0.3333em;
}

#edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

#edit-displays-preview-controls .form-type-textfield {
  margin-left: 1em;
  position: relative;
}

#edit-displays-preview-controls .form-type-textfield label {
  border-left: 1px solid #999;
  padding-left: 1em;
  position: absolute;
}

#edit-displays-preview-controls .form-type-textfield label:after {
  content: ":";
}

#edit-displays-preview-controls .form-type-textfield label ~ * {
  margin-left: 105px;
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.views-ui-dialog {
  font-size: small;
  padding: 0;
	background: #fafaf9;
	border-top: 1px solid #fff;
	@include border-radius(5px);
	@include box-shadow(0 0 35px #000);
}

.views-filterable-options .form-type-checkbox {
  border: 1px solid #CCC;
  padding: 5px 8px;
  border-top: none;
}

.views-filterable-options {
  border-top:  1px solid #CCC;
	.filterable-option {
		&.even {
			background: #fafaf9;
		}
		.form-item {
			margin: 5px;
			display: inline-block;
			width: 100%;
		}
	}
}

.filterable-option .form-item {
  margin-bottom: 0;
  margin-top: 0;
}

.views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0;
}

#views-filterable-options-controls {
  margin: 1em 0;
}

#views-filterable-options-controls .form-item {
  width: 45%;
  margin-right: 2%; /* LTR */
}

#views-filterable-options-controls input,
#views-filterable-options-controls select {
  width: 200px;
}

.views-ui-dialog .views-filterable-options {
  margin-bottom: 10px;
}

.views-ui-dialog .views-add-form-selected.container-inline {
  padding-top: 0;
}

.views-ui-dialog .views-add-form-selected.container-inline > div {
  display: block;
}

.views-ui-dialog #edit-selected {
  margin: 0;
  padding: 6px 16px;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog .views-override {
  background-color: #F3F4EE;
}

.views-ui-dialog .views-override {
  padding: 0 13px 8px;
}

.views-ui-dialog .views-override > * {
  margin: 0;
}

.views-ui-dialog #views-ajax-title {
  font-size: 18px;
  padding: 15px 13px;
}

.views-ui-dialog #views-progress-indicator {
  font-size: 11px;
  position: absolute;
  right: 10px; /* LTR */
  top: 8px;
}

.views-ui-dialog #views-progress-indicator:before {
  content: "\003C\00A0";
}

.views-ui-dialog #views-progress-indicator:after {
  content: "\00A0\003E";
}

.views-ui-dialog .scroll {
  padding: 8px 13px;
	background: #fff;
}

.views-ui-dialog fieldset .item-list {
  padding-left: 2em;
}

.views-ui-dialog .form-buttons {
  padding: 8px 13px;
	input[type = "submit"] {
		margin: 15px 10px 5px 0;
	}
}


/* @end */

/* @group Configure filter criteria */

/* @todo the width and border info could be moved into a more generic class */
/* @todo Make this a class to be used anywhere there's node types? */
.form-type-checkboxes #edit-options-value,
.form-type-checkboxes #edit-options-validate-options-node-types {
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  max-height: 210px;
  overflow: auto;
  margin-top: 5px;
  padding: 0 5px;
  width: 190px;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form table {
  border-collapse: collapse;
}

#views-ui-rearrange-filter-form tr td[rowspan] {
  border-color: #CDCDCD;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

#views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 1px solid #CDCDCD;
}

#views-ui-rearrange-filter-form tr[id^="views-row"].even td {
  background-color: #F3F4ED;
}

#views-ui-rearrange-filter-form .views-group-title {
  border-top: 1px solid #CDCDCD;
}

#views-ui-rearrange-filter-form .group-empty {
  border-bottom: 1px solid #CDCDCD;
}

/* @end */

/* @group Expose filter form items */

.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  margin-bottom: 6px;
  margin-left: 18px;
  margin-top: 6px;
}

/* @end */

/* @group Live preview elements */

#views-preview-wrapper {
	background: #fff;
  border: 1px solid #cfcfcf;
  padding: 15px;
}

#views-live-preview .views-query-info {
  overflow: auto;
}

/* Intentionally targeting h1 */
#views-live-preview h1.section-title {
  color: #818181;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 0;
}

#views-live-preview .view > * {
  margin-top: 18px;
}

#views-live-preview .preview-section {
  border: 1px dashed #DEDEDE;
  margin: 0 -5px;
  padding: 3px 5px;
}

#views-live-preview li.views-row + li.views-row {
  margin-top: 18px;
}

/* The div.views-row is intentional and excludes li.views-row, for example */
#views-live-preview div.views-row + div.views-row {
  margin-top: 36px;
}

/* @group Query info table */

.views-query-info table {
  border-collapse: separate;
  border-color: #dddddd;
  border-spacing: 0;
  margin: 10px 0;
}

.views-query-info table tr {
  background-color: #f9f9f9;
}

.views-query-info table th,
.views-query-info table td {
  color: #666666;
  padding: 4px 10px;
}

/* @end */

/* @group Grid */

#views-live-preview .views-view-grid th,
#views-live-preview .views-view-grid td {
  vertical-align: top;
}

/* @end */

/* @group HTML list */

#views-live-preview .view-content > .item-list > ul {
  list-style-position: outside;
  padding-left: 21px; /* LTR */
}

/* @end */

/* @end */

/* @group Add/edit argument form */

#edit-options-default-action {
  width: 300px;
  float: left;
}

#edit-options-exception.collapsible {
  float: right;
  width: 250px;
  margin-top: -2px;
}

/* @end */

/* @group Drupal
 *
 * Overrides to Drupal system CSS
 */
div.messages {
  margin-bottom: 18px;
}

/* @end */

/* @group Buttons */

.ctools-button-processed {
  background-color: #ffffff;
  border-color: #cccccc;
  font-size: 13px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.ctools-button-processed:hover {
  border-color: #b8b8b8;
}

.ctools-button-processed:active {
  border-color: #a0a0a0;
}

.ctools-button-processed .ctools-content {
  padding-bottom: 0;
  padding-top: 0;
}

.ctools-dropbutton-processed {
  position: absolute;
}

.ctools-dropbutton-processed .ctools-content {
  border-right: 1px solid #e8e8e8;
}

.ctools-dropbutton-processed .ctools-content ul {
  margin: 0;
  padding: 0;
}

.ctools-content ul.actions {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ctools-button-processed .ctools-content a {
  background-image: none;
  border: medium none;
}

.ctools-dropbutton-processed.open:hover {
  border-color: #D0D0D0;
}

.ctools-dropbutton-processed.open {
  z-index: 100;
}

.ctools-dropbutton-processed .ctools-link {
  border-left: 1px solid #ffffff;
}

.ctools-dropbutton-processed.open .ctools-content {
    padding-bottom: 4px;
}

.ctools-dropbutton-processed li a,
.ctools-dropbutton-processed li input {
  padding-right: 9px;
}

.ctools-dropbutton-processed.open li + li {
  border-top: 1px solid #efefef;
  margin-top: 4px;
  padding-bottom: 0;
  padding-top: 4px;
}

.ctools-twisty:focus {
  outline: medium none;
}

.ctools-no-js .ctools-content ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.views-ui-display-tab-bucket .ctools-button-processed {
  position: absolute;
  right: 5px;
  top: 4px;
}

.views-ui-display-tab-actions .ctools-button-processed li a,
.views-ui-display-tab-actions .ctools-button-processed input {
  background: none;
  border: medium;
  font-family: inherit;
  font-size: 12px;
  padding-bottom: 0;
  padding-left: 12px;
  padding-top: 0;
  margin-bottom: 0;
}

.views-ui-display-tab-actions .ctools-button-processed input:hover {
  background: none;
}

/* @end */

/* @group Collapsible */

.ctools-toggle {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  display: inline-block;
  float: left;
  height: 0;
  margin-right: 2px;
  margin-top: 0.4545em;
  width: 0;
}

.ctools-toggle.ctools-toggle-collapsed {
  border-bottom-color: transparent;
  border-left:  4px solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-width: 5px 0 5px 5px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 0.3333em;
}

.ctools-toggle:hover,
.ctools-collapsible-handle:hover {
  cursor: pointer;
}

.ctools-export-ui-row {
  margin-bottom: 0;
  padding-top: 0;
}

.views-display-settings .ctools-toggle {
  color: #000000;
}

.views-display-column > .ctools-toggle {
  margin-left: 4px;
  margin-right: 6px;
  margin-top: 15px;
}
.views-display-column > .ctools-toggle.ctools-toggle-collapsed {
  margin-left: 6px;
  margin-right: 9px;
  margin-top: 12px;
}

.views-display-column > .ctools-collapsible-handle {
  //border: 1px solid #ddd;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 6px 3px;
	
	@include border-radius(3px);
}

.views-display-column > .ctools-toggle.ctools-toggle-collapsed + .ctools-collapsible-handle {
  border-width: 1px;
}


h2.ctools-collapsible-handle {
  display: inline;
  clear: both;
}

/* @end */

/* @group Dependent */

.dependent-options {
  margin-left: 18px; /* LTR */
}

/* @end */

/* @group Export */


.ctools-export-ui-row + .ctools-export-ui-row {
  margin-top: 1em;
}

.ctools-export-ui-fourth-row input {
  margin-top: 5px !important;
}

/* @end */

/* @group Jump list */

#views-live-preview .ctools-jump-menu-select{
  max-width: 450px;
}

/* @end */

/* =============================
  Admin views
  ============================== */

.admin-views-view .views-exposed-form .form-text {
  width: 10em;
}

.admin-views-view .views-exposed-form .description {
  display: none;
}

.admin-views-view .form-item-operation {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
}